@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Nunito:wght@300&family=Permanent+Marker&display=swap');

body {
    background-color: #EFF1F3;
}

.meals {
    max-width: 774px;
    margin: auto;
}

/*me falta que no se mueva titulos*/

.title {
    font-family: 'Permanent Marker', cursive;
    height: 35px;
    font-size: 24px;
    color: #696773;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    margin-left: 10px;
}

.meals-card {
    display: grid;
    grid-template: repeat(2, 50%) / repeat(3, 33%);
    align-items: center;
}

.meals-content {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 5px 5px #aaaaaa;
}

.meals-content p {
    font-family: 'Permanent Marker', cursive;
    font-size: 14px;
    color: #000000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

figure {
    margin: 0;
}

.meals-content img {
    width: 100%;
}

.slogan-container {
    max-width: 774px;
    margin: auto;
}

.slogan {
    height: 119px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(155, 155, 155, 0.7)), url(https://www.themealdb.com/images/media/meals/t8mn9g1560460231.jpg) no-repeat; 
    background-position: center center;
    border: solid white 4px;
}


.slogan p {
    color: white;
    font-size: 36px;
    font-family: 'Neucha', cursive;
}

footer {
    margin-top: 3%;
    background-color: #FED766;
    height: 113px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-components img {
    height: 47px;
    font-family: 'Nunito', sans-serif;
}

.footer-components p {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}



@media (max-width:320px) {
    .title {
        font-size: 14px;
    }

    .meals {
        margin: auto;
    }

    .meals-content {
        margin: 5px
    }

    .meals-card {
        grid-template: repeat(3, 33%) /repeat(2, 50%);
    }

    .slogan p {
        font-size: 24px;
    }

}


/* otro contenedor arriba con transparencia
 */

@media (min-width: 768px) and (max-width: 991px) {}